@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.focus-page {
    font-family: 'Inter', sans-serif;
    background: #151922;
    padding-left: 90px;
    padding-right: 30px;
    padding-top: 30px;
    min-height: 100vh;
    color: #a6b0c3;
}

.tabs-group {
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
}

.tab-pill {
    background: #202736;
    padding: 10px 22px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #2a3550;
    font-size: 1rem;
    color: #bdc2d0;
    transition: 0.2s;
}

.tab-pill:hover {
    background: #2c3346;
}

.tab-pill.active {
    background: #3479FF;
    color: white;
    border-color: #3479FF;
    box-shadow: 0 2px 6px rgba(52, 121, 255, 0.28);
}

.current-mode-pill {
    background: #3479FF;
    padding: 10px 20px;
    border-radius: 12px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    width: fit-content;
    margin-bottom: 25px;
    box-shadow: 0 2px 8px rgba(52,121,255,0.18);
}

.current-mode-pill:hover {
    background: #4C8DFF;
}

.timer-box {
    background: #202736;
    border: 1px solid #2a3550;
    border-radius: 22px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.25);
    transition: 0.3s ease;
}

.break-mode .timer-box {
    background: rgb(28, 59, 136);
    border-color: #3f4f72;
}

.timer-display {
    font-size: 5rem;
    color: white;
    font-weight: 700;
    margin: 20px 0;
}

.timer-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}

.start-btn {
    background: #3479FF;
    border: none;
    color: white;
    padding: 12px 26px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(52, 121, 255, 0.25);
}

.start-btn:hover {
    background: #4c8dff;
}

.reset-btn {
    background: #2f384a;
    border: 1px solid #394145;
    color: white;
    padding: 12px 26px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
}

.reset-btn:hover {
    background: #3c4558;
}

.skip-btn {
    background: #ff4f4f;
    border: none;
    color: white;
    padding: 12px 26px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
}

.skip-btn:hover {
    background: #ff7070;
}

.settings-box {
    background: #202736;
    border: 1px solid #2a3550;
    border-radius: 20px;
    padding: 28px;
    margin-top: 30px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}

.settings-box h3 {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 18px;
}

.settings-box label {
    color: white;
    font-size: 1.1rem;
    margin-bottom: 10px;
    display: block;
}

.settings-box input {
    background: #151922;
    border: 1px solid #2b3241;
    padding: 12px;
    border-radius: 12px;
    color: white;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 20px;
}